.navbar_container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.username {
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
  cursor: grab;
}

.logo {
  width: 48px;
  height: 48px;
}
