.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  padding: 0;
  background: linear-gradient(to bottom, LightGrey, #f8f8f8);
}

.username {
  cursor: not-allowed;
  margin-left: 0.75rem;
  margin-right: 1.5rem;
  color: black;
  font-weight: bold;
  font-size: 1.75rem;
  user-select: none;
}

.logo {
  width: 48px;
  height: 48px;
}
